<configuration>
    <startup>
        <requiredRuntime version="v1.0.3705" safemode="true"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <publisherPolicy apply="no" />
        </assemblyBinding>
    </runtime>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="PublicAssemblies;PrivateAssemblies"/>
            <qualifyAssembly partialName="System.Web" fullName="System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, Custom=null"/>
            <qualifyAssembly partialName="System" fullName="System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
            <qualifyAssembly partialName="CustomMarshalers" fullName="CustomMarshalers, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            <qualifyAssembly partialName="CustomMarshalers, Version=1.0.3300.0" fullName="CustomMarshalers, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            <qualifyAssembly partialName="CustomMarshalers, Version=1.0.3300.0, PublicKeyToken=b03f5f7f11d50a3a" fullName="CustomMarshalers, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </assemblyBinding>
    </runtime>
</configuration>
